@using Contentful.Core.Models;


<div>
    <h1>Financieel dashboard SIN</h1>
</div>


@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Onkostennota's</h2>
        <p>Maak nieuwe onkostennota's</p>
        <p>
            <a asp-controller="Home" asp-action="Create" class="btn btn-default">Onkostennota's aanmaken</a>
        </p>
    </div>
    <div class="col-md-6">
        <h2>Overzicht</h2>
        <p>Overzicht van alle onkostennota's en facturen</p>
        <p>
            <a asp-controller="Home" asp-action="OverzichtNota" class="btn btn-default">Bekijk overzicht</a>
        </p>
    </div>